@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-image: url("freddie-marriage-UcfKYTan-LU-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* -------------------button section----------------- */

.btnbox {
    box-shadow: rgba(0, 0, 0, 0.671) 4px 4px 3px 0px;
    height: 500px;
    margin-left: 20px;
    width: 20%;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.356);
    border-radius: 8px;
}

.btn {
    min-width: 60px;
    width: 78px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: rgba(255, 0, 0, 0);
    color: rgb(3, 3, 3);
    transition: 0.5s;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0);
    border: 1px solid rgb(194, 194, 194);
    color: cornsilk;
}

.btn:hover {
    border: none;
    color: black;
}

.a:hover {
    background-color: rgb(255, 145, 200);
    color: rgb(0, 0, 0);
    box-shadow: 0px 0px 13px rgb(255, 176, 225);
}

.b:hover {
    background-color: rgba(132, 255, 249, 0.986);
    color: black;
    box-shadow: 0px 0px 13px rgba(172, 245, 241, 0.979);
}

.c:hover {
    background-color: rgba(242, 255, 126, 0.973);
    color: rgba(0, 0, 0, 0.918);
    box-shadow: 0px 0px 13px rgba(244, 245, 172, 0.979);
}


/* ----------------content------------------- */

.content {
    background: inherit;
    scroll-behavior: smooth;
    background-color: rgba(105, 105, 105, 0);
    height: 80vh;
    width: 900px;
    margin-left: 11px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    overflow-y: scroll;
    box-shadow: rgba(0, 0, 0, 0.671) 4px 4px 3px 0px;
}

.content::-webkit-scrollbar {
    background-color: rgba(212, 167, 176, 0);
    border-radius: 9px;
    width: 4px;
}

.content::-webkit-scrollbar-thumb {
    background-color: rgba(2, 43, 43, 0.541);
    border-radius: 9px;
}

.box {
    margin-top: 12px;
    margin-bottom: 12px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    width: 100%;
    height: 80vh;
    background-color: rgba(0, 0, 0, 0.473);
}


/* ---------------home section---------------- */

.home {
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    margin-top: 0px;
}

.summery {
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
}

.name {
    color: rgba(255, 128, 192, 0.61);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

p {
    text-align: center;
    color: rgb(100, 180, 180);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}

.logoimg {
    width: 160px;
    border-radius: 50%;
    border: 2px solid #0b4b45;
    opacity: 0.9;
}


/* ----------------skills section--------------------- */

.skills {
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.fst {
    display: grid;
    align-items: center;
    padding: 5px;
}

h2 {
    text-align: center;
    color: ivory;
}

.sec {
    display: grid;
    align-items: center;
}

.prog {
    width: 300px;
    border: 1px solid white;
    height: 5px;
    background-color: rgba(0, 128, 128, 0);
}

.line {
    background-color: white;
    height: 4px;
    color: rgba(0, 0, 0, 0);
}

.thd {
    display: grid;
    align-items: center;
}

.html {
    width: 80%;
}

.css {
    width: 80%;
}

.js {
    width: 50%;
}

.wp {
    width: 40%;
}

.ui {
    width: 99%;
}


/* ---------------------works section ---------------------- */

.works {
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    width: 260px;
    background-color: rgba(253, 253, 253, 0);
    display: grid;
    justify-content: center;
    align-items: center;
    height: 115px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0);
}

.cardimg {
    width: 200px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.89);
}

.more:hover {
    background-color: crimson;
}


/* -----------------other------------- */

.space {
    width: 20px;
}


/* -----------------responsive-------------------- */

@media screen and (max-width: 650px) {
    .btnbox {
        display: none;
    }
    .box {
        border-radius: 0px;
        height: 100vh;
    }
    .home {
        display: grid;
        justify-content: center;
        align-items: center;
    }
    .logoimg {
        text-align: center;
        margin-left: 19px;
    }
    .content {
        height: 100vh;
        border-radius: 0px;
        box-shadow: none;
    }
    .content::-webkit-scrollbar-thumb {
        background-color: rgba(0, 128, 128, 0);
    }
    .fst {
        display: none;
    }
    .prog {
        height: 22px;
    }
    .line {
        height: 21px;
        color: black;
        text-align: center;
        font-size: 17px;
    }
}